.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.calculator{
  width: fit-content;
  height: fit-content;
  padding: 5px;
  padding-top: 225px;
  padding-bottom: 225px;
}

#display{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: right;
  background-color: #333;
  color: #fff;
  font-size: 25px;
  margin-bottom: 5px;
}

.buttonsDiv{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #333;
}

.button{
  text-align: center;
  padding: 15px;
  font-size: 25px;
  border: 1px solid #ccc;
  background-color: #485460;
  color: #fff;
  cursor: pointer;
  border-radius: 50% 50% 50% 50%;
}

.button:hover{
  color: #e55039;
}

#equals{
  text-align: center;
  padding: 15px;
  font-size: 25px;
  background-color: #f6b93b;
  border: 1px solid #ccc;
  width: 210%;
  color: #fff;
  cursor: pointer;
  border-radius: 10%;
}

#add{
  background-color: #f6b93b;
  color: #fff;
}

#subtract{
  background-color: #f6b93b;
  color: #fff;
}

#multiply{
  background-color: #f6b93b;
  color: #fff;
}

#divide{
  background-color: #f6b93b;
  color: #fff;
}

#clear{
  background-color: #d2dae2;
  color: #333;
}

#all-clear {
  background-color: #d2dae2;
  color: #333;
}

#percentage{
  background-color: #d2dae2;
  color: #333;
}

#double{
  background-color: #d2dae2;
  color: #333;
}