.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vh;
  font-weight: bold;
  font-family: 'Lumanosimo', cursive;
  background-color: #ced6e0;
}

.calculator{
  min-width: 37vw;
  min-height: 40vh;
}

.display{
  border-radius: 10px;
  min-width: 37vw;
  min-height: fit-content;
  text-align: right;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 5px;
  padding: 10px;
}

.buttonsDiv{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #333;
}

.button{
  text-align: center;
  padding: 15px;
  font-size: 25px;
  border: 1px solid #ccc;
  background-color: #485460;
  color: #fff;
  cursor: pointer;
  border-radius: 50% 50% 50% 50%;
}

.buttonClear{
    text-align: center;
    padding: 15px;
    font-size: 25px;
    border: 1px solid #ccc;
    background-color: #d2dae2;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50% 50% 50% 50%;
}

.buttonOperator{
    text-align: center;
    padding: 15px;
    font-size: 25px;
    border: 1px solid #ccc;
    background-color: #f6b93b;
    color: #fff;
    cursor: pointer;
    border-radius: 50% 50% 50% 50%;
}

.buttonEqual{
  text-align: center;
  padding: 15px;
  font-size: 25px;
  background-color: #f6b93b;
  border: 1px solid #ccc;
  width: 210%;
  color: #fff;
  cursor: pointer;
  border-radius: 10%;
}

.button:hover{
  color: #e55039;
}

.buttonClear:hover{
  color: #e55039;
}

.buttonOperator:hover{
  color: #e55039;
}

.buttonEqual:hover{
  color: #e55039;
}